/* theme */
$primary-color: #32b089;
$text-color: #444544;
$text-color-bg-primary: rgb(233, 233, 233);
$dark-color: #111111;
$light-gray: #b6b6b6;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* General styles */
html,
body {
  min-height: 100vh;
  margin: 0;
  background-color: $text-color-bg-primary;
  overflow-x: hidden;
  overflow-y: auto;
  // font-family: 'Nunito', sans-serif;
}

main {
  font-family: 'Nunito', sans-serif;
}

.primary-color-text {
  color: $primary-color;
}

/* Buttons styles */

.button {
  border: none;
  padding: 2% 4%;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.button-primary {
  background-color: $primary-color;
  color: $text-color-bg-primary;
}

/* Nav styles begin from here */
.nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;

  .logo {
    float: left;
    margin-left: 2%;
    width: 10%;
    .logo-img {
      width: 70px;
    }
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    width: 70%;
    .nav-item {
      cursor: pointer;
      width: 30%;
      display: flex;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        height: 100%;
        color: $text-color;
        margin: 0;
        text-align: center;
        &:hover {
          color: $primary-color;
        }
      }
      &:hover {
        color: $primary-color;
      }
    }
  }

  .nav-social-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    width: 20%;
    .nav-item {
      cursor: pointer;
      width: 25%;
      display: flex;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        height: 100%;
        color: $text-color;
        margin: 0;
        text-align: center;
        &:hover {
          color: $primary-color;
        }
      }
      &:hover {
        color: $primary-color;
      }
    }
  }
}

/* Home Page Styles */
.home {
  display: flex;
  flex-direction: row;
  color: $text-color;
  justify-content: center;
  align-items: center;
  margin-top: 18%;
  .profile-image {
    position: absolute;
    width: 40%;
    right: 2%;
  }
  .left {
    flex-basis: 60%;
    animation: 1.5s ease alternate slidein;
    z-index: 1;
    .description {
      width: 60%;
    }
  }
  .right {
    z-index: 1;
    border-left: 4px solid $primary-color;
    .title {
      padding-left: 20px;
      background: $text-color-bg-primary;
    }
  }
}

/* About page styles */
.about {
  background-color: $dark-color;
  min-height: 100vh;
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    animation: 1.5s ease alternate slidein;
    .images-container {
      flex-basis: 50%;
      .main-img {
        width: 70%;
        margin: 2%;
      }
      .sub-img {
        width: 30%;
        margin-left: -10%;
      }
    }
    .autobio {
      color: $text-color-bg-primary;
      flex-basis: 50%;
      .name {
        color: $primary-color;
      }
      strong {
        color: $primary-color;
      }
    }
  }

  .heading-container {
    padding: 2%;
    animation: 1.5s ease alternate slidein;
  }

  .service-cards {
    animation: 1.5s ease alternate slidein;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* Resume Page styles */
.resume {
  background-color: $dark-color;
  min-height: 100vh;
  .wrapper {
    padding: 2%;
    animation: 1.5s ease alternate slidein;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    .education {
      flex-basis: 50%;
    }
    .experience {
      flex-basis: 50%;
    }
  }
  .skills {
    padding: 2%;
    animation: 1.5s ease alternate slidein;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    .technical {
      flex-basis: 50%;
    }
    .soft {
      flex-basis: 50%;
    }
  }
}

/* Timeline styles */
.timeline {
  position: relative;
  counter-reset: list;
  padding: 0;
  // padding-left: 22px;
  // list-style: none;
  .timeline-item {
    list-style: none;
    border-left: 2px solid $primary-color;
    .timeline-icon {
      color: $primary-color;
      padding: 10px;
      background-color: $primary-color;
      color: $text-color-bg-primary;
      width: 20px;
      height: 20px;
      text-align: center;
      border-radius: 50%;
      margin-left: -20px;
      margin-top: -50px;
      display: inline-block;
      cursor: pointer;
      &::before {
        /* Increment "list" counter by 1 */
        counter-increment: list;
        content: counter(list);
      }
    }
    .timeline-date {
      display: inline-block;
      color: $primary-color;
      margin-left: 2%;
      font-size: small;
    }
    .timeline-content {
      position: relative;
      margin-left: 2em;
      color: $text-color-bg-primary;
      border-radius: 0.25em;
      margin-right: 3em;
      .heading {
        font-weight: 700;
        margin-bottom: 10px;
        display: block;
        font-size: 20px;
        color: $text-color-bg-primary;
        margin-top: 0;
        .more-info {
          font-size: smaller;
          color: $primary-color;
          font-weight: normal;
        }
      }
      .description {
        margin: 0;
        color: $light-gray;
        ol {
          list-style-type: circle;
        }
      }
    }
  }
}

/* Transition component styles */
.transition {
  margin: 0;
  position: fixed; // to span the entire viewport
  left: 100%;
  background: $primary-color;
  animation: 1.5s ease alternate slideintrans;
  height: 100%;
  z-index: 1000;
}

/* BackHome component styles */
.back-home {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: $text-color-bg-primary;
  .icon-container {
    overflow: hidden;
    position: relative;
    border: none;
    padding: 0;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: transparent;
    color: $text-color-bg-primary;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;

    &:focus {
      outline: solid 0 transparent;
      box-shadow: 0 0 0 2px lighten($primary-color, 15%);
    }

    &:hover {
      background: lighten($primary-color, 15%);
    }

    &:before,
    &:after {
      position: absolute;
      top: 15%;
      left: calc(50% - 0.0625em);
      width: 0.125em;
      height: 70%;
      border-radius: 0.125em;
      transform: rotate(45deg);
      background: currentcolor;
      content: '';
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

/* Page header styles */
.page-header {
  animation: 1.5s ease alternate slidein;
  .who {
    font-size: larger;
    text-align: center;
    color: $primary-color;
    margin-top: 0;
  }
  .about-head {
    text-align: center;
    color: $text-color-bg-primary;
  }

  .underline-container {
    display: flex;
    .left {
      flex-basis: 40%;
    }
    .underline {
      flex-basis: 20%;
      border-bottom: 2px solid $primary-color;
    }
    .right {
      flex-basis: 40%;
    }
  }
}

/* Service Card Component styles */
.service-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 1%;
  margin-bottom: 1%;

  &:hover .wrapper {
    transform: rotateY(180deg);
  }

  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .flip-front,
    .flip-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .flip-front {
      background-color: $text-color-bg-primary;
      color: $text-color;
      img {
        width: 300px;
        object-fit: contain;
      }
    }

    .flip-back {
      background-color: $primary-color;
      color: $text-color-bg-primary;
      transform: rotateY(180deg);
      overflow-y: auto;
    }
  }
}

.loader {
  /* Backdrop */
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  font-weight: bold;
  width: 100%;
  height: 100%;
  position: fixed; // to span the entire viewport
  top: 0;
  overflow: hidden;
  z-index: 1000;
  /* CSS loader */
  .lds-hourglass {
    margin: auto;
    top: 48%;
    // display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    &:after {
      content: ' ';
      display: block;
      border-radius: 50%;
      width: 0;
      height: 0;
      margin: 8px;
      box-sizing: border-box;
      border: 32px solid $primary-color;
      border-color: $primary-color transparent $primary-color transparent;
      animation: lds-hourglass 1.2s infinite;
    }
  }
}

/* Styled Heading component styles */
.styled-heading {
  border: 3px solid $text-color;
  text-align: center;
  width: fit-content;
  padding: 0 20px;
  color: $text-color-bg-primary;
  h2 {
    padding: 10px 0;
    margin: 0;
  }
}

/* Skill component styles */
.skill {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  cursor: pointer;
  .skill-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  .skill-name {
    display: inline-block;
    color: $text-color-bg-primary;
    font-weight: bold;
    margin: 0;
    margin-left: 5px;
  }

  // border bottom dotted except last child
  &:not(:last-child) {
    border-bottom: 1px dotted $text-color-bg-primary;
  }

  &:hover {
    background: $light-gray;
    color: $text-color;
  }
}

/* Skills component styles */
.skills {
  overflow: hidden;
  perspective: 1000px;
  .three-d-card {
    width: 60%;
    min-height: 300px;
    background: $primary-color;
    transform-style: preserve-3d;
    margin-bottom: 10%;
    margin-top: 5%;
    &:hover {
      animation: 1s ease alternate lift;
      transform: rotateY(15deg);
    }
  }

  .left {
    transform: rotateY(15deg);
  }

  .right {
    transform: rotateY(-15deg);
  }
}

/* Animations */
@keyframes slidein {
  from {
    margin-left: 30%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideintrans {
  from {
    left: 0%;
    width: 100%;
  }

  to {
    right: 100%;
    width: 100%;
  }
}

/* Button hover effect */
.glow-on-hover {
  border: none;
  outline: none;
  color: $text-color-bg-primary;
  background: $primary-color;
  cursor: pointer;
  position: relative;
  &:before {
    content: '';
    background: linear-gradient(
      45deg,
      $primary-color,
      lighten($primary-color, 15%),
      $dark-color
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  &:active {
    color: $text-color;
  }

  &:active:after {
    background: transparent;
  }

  &:hover:before {
    opacity: 1;
  }

  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: $primary-color;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes lift {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(15deg);
  }
  
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: $text-color-bg-primary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}
