/* theme */
$primary-color: #32b089;
$text-color: #444544;
$text-color-bg-primary: rgb(233, 233, 233);

html,
body {
  height: 100%;
  margin: 0;
}

main {
  font-family: sans-serif;
}

.primary-color-text {
  color: $primary-color;
}

/* Buttons styles */

.button {
  border: none;
  padding: 2% 4%;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.button-primary {
  background-color: $primary-color;
  color: $text-color-bg-primary;
}

/* Nav styles begin from here */
.nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;

  .logo {
    float: left;
    margin-left: 2%;
    width: 10%;
    .logo-img {
      width: 70px;
    }
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    width: 70%;
    .nav-item {
      cursor: pointer;
      width: 30%;
      display: flex;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        height: 100%;
        color: $text-color;
        margin: 0;
        text-align: center;
        &:hover {
          color: $primary-color;
        }
      }
      &:hover {
        color: $primary-color;
      }
    }
  }

  .nav-social-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    width: 20%;
    .nav-item {
      cursor: pointer;
      width: 25%;
      display: flex;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        height: 100%;
        color: $text-color;
        margin: 0;
        text-align: center;
        &:hover {
          color: $primary-color;
        }
      }
      &:hover {
        color: $primary-color;
      }
    }
  }
}

/* Home Page Styles */
.home {
  display: flex;
  flex-direction: row;
  color: $text-color;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  .left {
    flex-basis: 60%;
    
    animation: 2s ease alternate slidein;
  }
  .right {
    border-left: 4px solid $primary-color;
    .title {
      padding-left: 20px;
    }
  }
}

/* Animations */
@keyframes slidein {
  from {
    margin-left: 30%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
