/* theme */
$primary-color: #32b089;
$text-color: #444544;
$text-color-bg-primary: rgb(233, 233, 233);

html,
body {
  height: 100%;
  margin: 0;
  background-color: $text-color-bg-primary;
}

main {
  font-family: sans-serif;
}

.primary-color-text {
  color: $primary-color;
}

/* Buttons styles */

.button {
  border: none;
  padding: 2% 4%;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.button-primary {
  background-color: $primary-color;
  color: $text-color-bg-primary;
}

/* Nav styles begin from here */
.nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;

  .logo {
    float: left;
    margin-left: 2%;
    width: 10%;
    .logo-img {
      width: 70px;
    }
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    width: 70%;
    .nav-item {
      cursor: pointer;
      width: 30%;
      display: flex;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        height: 100%;
        color: $text-color;
        margin: 0;
        text-align: center;
        &:hover {
          color: $primary-color;
        }
      }
      &:hover {
        color: $primary-color;
      }
    }
  }

  .nav-social-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    width: 20%;
    .nav-item {
      cursor: pointer;
      width: 25%;
      display: flex;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        height: 100%;
        color: $text-color;
        margin: 0;
        text-align: center;
        &:hover {
          color: $primary-color;
        }
      }
      &:hover {
        color: $primary-color;
      }
    }
  }
}

/* Home Page Styles */
.home {
  display: flex;
  flex-direction: row;
  color: $text-color;
  justify-content: center;
  align-items: center;
  margin-top: 18%;
  .profile-image {
    position: absolute;
    width: 40%;
    right: 2%;
  }
  .left {
    flex-basis: 60%;
    animation: 2s ease alternate slidein;
    z-index: 1;
    .description {
      width: 60%;
    }
  }
  .right {
    z-index: 1;
    border-left: 4px solid $primary-color;
    .title {
      padding-left: 20px;
      background: $text-color-bg-primary;
    }
  }
}

/* Animations */
@keyframes slidein {
  from {
    margin-left: 30%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.glow-on-hover {
  border: none;
  outline: none;
  color: $text-color-bg-primary;
  background: $primary-color;
  cursor: pointer;
  position: relative;
  // z-index: 0;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, $primary-color, lighten($primary-color, 15%));
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: $text-color;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: $primary-color;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
