.blog-post {
  .content-wrapper {
    padding: 2rem;
    p {
      width: 100%;
      font-size: var(--font-size-lg);
      img {
        width: inherit;
        object-fit: contain;
      }
    }

    pre {
      background-color: $dark-color;
      padding: 1rem;
      margin: 1rem 0;
      border-left: 3px solid $primary-color;
      overflow-x: auto;
      font-size: 0.9rem;
      line-height: 1.5;
      border-radius: var(--br-7xs);

      .language-html {
        color: #dd5b00;
      }

      .language-typescript {
        color: #2b7489;
      }

      .language-bash {
        color: #89e051;
      }
    }

    pre::-webkit-scrollbar {
      height: 3px;
      border-radius: 50%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .blog-post {
    .content-wrapper {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
