/* Home Page Styles */
.home {
  display: flex;
  flex-direction: column;
  color: $text-color;
  justify-content: center;
  align-items: center;
  margin-top: 18%;
  padding: 0.2em;
  .profile-image {
    display: block;
    // position: absolute;
    width: 40%;
    // right: 2%;
    border-radius: 100%;
    margin: 0 auto;
  }
  .left {
    // flex-basis: 60%;
    animation: 1.5s ease alternate slidein;
    z-index: 1;
    h1 {
      text-align: center;
      margin: 10.5px;
      // font-size: var(--font-size-17xl);
    }
    .description {
      // width: 60%;
      text-align: center;
      margin: 1em;
      padding: 0;
      font-size: var(--font-size-lg);
    }
    .button-container {
      display: flex;
      justify-content: center;
      margin-top: 1em;
    }
  }
  .right {
    display: none;
    z-index: 1;
    border-left: 4px solid $primary-color;
    .title {
      padding-left: 20px;
      background: $text-color-bg-primary;
    }
    .nav-social-list {
      list-style-type: none;
      display: flex;
      margin: 0;
      width: 80%;
      padding-left: 5px;
      .nav-item {
        cursor: pointer;
        width: 25%;
        display: flex;
        a {
          display: flex;
          justify-content: left;
          align-items: center;
          text-decoration: none;
          width: 100%;
          height: 100%;
          color: $text-color;
          margin: 0;
          text-align: center;
          &:hover {
            color: $primary-color;
          }
        }
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .home {
    flex-direction: row;
    margin-top: 5rem;
    .profile-image {
      width: 30%;
    }
    .left {
      flex-basis: 60%;
      .description {
        // width: 60%;
        text-align: center;
        margin: 1em;
      }
    }
    .right {
      display: block;
      .title {
        padding-left: 5px;
        font-size: var(--font-size-7xl);
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
    font-size: var(--font-size-md);
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}
