/* Portfolio Page styles */
.portfolio {
  background-color: $dark-color;
  min-height: 100vh;
  .tabs-container {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    animation: 1.5s ease alternate slidein;
  }

  .tabs-container::-webkit-scrollbar {
    height: 3px;
    border-radius: 50%;
  }

  .projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    animation: 1.5s ease alternate slidein;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .portfolio {
    .tabs-container {
      justify-content: center;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
    font-size: var(--font-size-md);
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
