/* Blog Section Styles */
.blog-section {
  .section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4em 0 0 0;
    span {
      flex-basis: calc(80% - 20px);
      color: $gray;
      font-size: var(--font-size-17xl);
      font-weight: bold;
    }
    button {
      white-space: nowrap;
    }
  }

  .blog-post-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
}

// Medium devices (tablets, 500px and up)
@media (min-width: 500px) {
  .blog-section {
    width: 100%;
    .blog-post-cards-container {
      grid-template-columns: 1fr 1fr;
    }
  }
}

// Large devices (tablets, 661px and up)
@media (min-width: 661px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .blog-section {
    width: 90%;
    
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .blog-section {
    .blog-post-cards-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
