/* Blog Post cards styles */
.blog-post-card {
  display: grid;
  margin-bottom: 0.4em;

  .blog-post-image-container {
    position: relative;
    grid-area: image;
    .blog-post-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .blog-post-content {
    grid-area: content;
    padding: 10px;
    .blog-post-title {
      margin: 0 0 8px 0;
      font-size: var(--font-size-md);
      color: $text-color;
      text-decoration: underline;
      overflow: hidden; // Ensures that the overflow text is hidden
      white-space: nowrap; // Prevents the text from wrapping to the next line
      text-overflow: ellipsis; // Adds ellipsis to the end of the text
      cursor: pointer;
    }

    .blog-post-description {
      font-size: var(--font-size-sm);
      color: $gray;
      margin-bottom: 16px;
      overflow: hidden; // Ensures that the overflow text is hidden
      display: -webkit-box; 
      -webkit-box-orient: vertical; 
      -webkit-line-clamp: 2; 
      text-overflow: ellipsis; // Adds ellipsis to the end of the text
    }

    .category, .pub-date {
      font-size: var(--font-size-xs);
      color: $primary-color;
      display: flex;
      align-items: center;
    }
  }

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'image image content content content';
}

// Medium devices (tablets, 500px and up)
@media (min-width: 500px) {
  .blog-post-card {
    max-width: 20rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .blog-post-card {
    max-width: 25rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
