/* Project Card styles */
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // padding: 2%;
    margin: 2%;
    border-radius: 0.25em;
    background-color: $text-color-bg-primary;
    width: 300px;
    height: 200px;
  
    img[alt='project-image'] {
      width: 100%;
      margin: 2%;
      height: 200px;
      object-fit: contain;
    }
  
    a {
      color: $text-color;
    }
  
    .project-details {
      flex-basis: 60%;
      .project-title {
        color: $text-color-bg-primary;
        font-weight: 700;
        font-size: 20px;
      }
      .project-description {
        color: $text-color-bg-primary;
        font-size: 15px;
      }
      .project-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .project-link {
          color: $text-color-bg-primary;
          font-size: 15px;
          font-weight: 700;
          text-decoration: none;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }